// Colors

$color-bg-default: #fffcf0;
$color-base-text: #4d4d4d;
$color-light-text: #f4f3ee;
$color-accent: #5c623f;

$color-gray-lighter: #898989;
$color-base-white: #ffffff;
$color-accent-middle: #ffb06b;
$color-accent-lighter: #ffcda2;
$color-dark: #262626;

// States

$vp-1200: 1440px;
$vp-768: 768px;
$vp-320: 320px;